body {
    background-color: black;
}

#img {
    max-width: 100vh;
    border: 5px solid;
    border-color: white;
}

#h1 {
    color: white;
    
}

.cont {
    margin: auto;
    text-align: center;
}

#p {
    color : white;
}